# Ignora arquivos de sistema do macOS
.DS_Store

# Ignora arquivos de log
*.log

# Ignora a pasta de dependências do Node.js
node_modules/

# Ignora arquivos de ambiente (sensíveis)
.env

# Ignora pastas de build
/dist
/build

# Gitea e GitHub: ignorar conteúdo, manter pastas vazias via .gitkeep
/zenfocus-gitea/gitea/ssl
/zenfocus-gitea/gitea/data/ssh
/zenfocus-gitea/gitea/data/git
/zenfocus-gitea/gitea/data/gitea/sessions
/zenfocus-gitea/gitea/data/gitea/queues
/zenfocus-gitea/gitea/data/gitea/log
/zenfocus-gitea/gitea/data/gitea/attachments
/zenfocus-gitea/gitea/data/gitea/avatars
/zenfocus-gitea/gitea/data/gitea/jwt
/zenfocus-gitea/gitea/data/gitea/indexers
/zenfocus-gitea/gitea/data/gitea/actions_log


/zenfocus-gitea/runner/data