# Ignora arquivos de sistema do macOS
.DS_Store

# Ignora arquivos de log
*.log

# Ignora a pasta de dependências do Node.js
node_modules/

# Ignora arquivos de ambiente (sensíveis)
.env

# Ignora pastas de build
/dist
/build

# GitLab: ignorar conteúdo, manter pastas vazias via .gitkeep
/zenfocus-gitlab/gitlab*

# Gitea e GitHub: ignorar conteúdo, manter pastas vazias via .gitkeep
/zenfocus-gitea/gitea*
/zenfocus-github/github*